<b>Cart</b>

<% unless @products.blank?%>
<% (Array @products).each do |product|%>
<div>
Name: <%=product[:name]%>
<%# Quantity: <%=product[:quantity] %>

<form action=<%=cart_update_path(product[:entry_id])%> method="post">
Quantity: <input type="text" id="quantity" name="quantity" placeholder=<%=product[:quantity]%> enabled=true size=1>
<button type="submit">Update</button>

</form>

<%= link_to 'Show', product_path(product[:id])%>
<%= link_to 'Remove from Cart', cart_delete_path(product[:entry_id]), method: :post %>


<%# <%= link_to 'Delete', product_path(product), method: :delete%>
<%# <%= link_to 'Delete', product_path(product), method: :delete, :data => {:confirm => 'Are you sure?'}%>


</div>

<br>
<br>

<%end%>
<%end%>