<b>Home page</b>
<div>
<%= link_to "Log out", destroy_session_path(:user), :method => :delete %>
</div>


<div>
<%= link_to "Search all products", destroy_session_path(:user), :method => :delete %>
<%= link_to "My products", destroy_session_path(:user), :method => :delete %>
<%= link_to "Create product", destroy_session_path(:user), :method => :delete %>
<%= link_to "Log out", destroy_session_path(:user), :method => :delete %>



</div>